<a href="https://colab.research.google.com/github/pravincoder/Jforce-assignment/blob/main/Jforce_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

Table Transformation :-

In [15]:
import pandas as pd
raw_data = pd.read_csv('https://raw.githubusercontent.com/pravincoder/Jforce-assignment/refs/heads/main/assignment_1_data.csv')
print(raw_data)

   Roll No Subject  Marks      Date
0        1      DS     25  01-01-23
1        1    Java     40  02-01-23
2        2      DS     30  01-01-23
3        2    Java     26  02-01-23
4        1      DS     40  15-01-23
5        2    Java     50  15-01-23

In [16]:
raw_data.columns

Index(['Roll No', 'Subject', 'Marks', 'Date'], dtype='object')

In [21]:
# Create output df
output_df = pd.DataFrame()
# Get Unique subject and Roll no
for roll_no in raw_data['Roll No'].unique():
    for subject in raw_data['Subject'].unique():

        temp_df = raw_data[(raw_data['Roll No'] == roll_no) & (raw_data['Subject'] == subject)]
        temp_df = temp_df.sort_values(by='Date',ascending=True)
        temp_df['Roll No'] = roll_no
        temp_df['Subject'] = subject
        temp_df['M1'] = temp_df['Marks'].iloc[0] if len(temp_df) > 0 else 0
        temp_df['M2'] = temp_df['Marks'].iloc[1] if len(temp_df) > 1 else 0
        temp_df['M3'] = temp_df['Marks'].iloc[2] if len(temp_df) > 2 else 0
        temp_df['Date'] = temp_df['Date'].iloc[-1] if len(temp_df) > 0 else None
        temp_df = temp_df[['Roll No', 'Subject', 'M1', 'M2', 'M3', 'Date']]
        temp_df = temp_df.drop_duplicates()
        output_df = pd.concat([output_df, temp_df],ignore_index=True)


print(output_df)

   Roll No Subject  M1  M2  M3      Date
0        1      DS  25  40   0  15-01-23
1        1    Java  40   0   0  02-01-23
2        2      DS  30   0   0  01-01-23
3        2    Java  26  50   0  15-01-23